<a href="https://colab.research.google.com/github/samp3209/kaggleprojects/blob/main/samp3209_gmail_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing

In [37]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from numpy import random
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.decomposition import PCA
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

In [38]:
#importing data
dp = pd.read_csv('Daily Precipitation.csv')
ds = pd.read_csv('Daily Soil Mositure.csv')
dt = pd.read_csv('Daily Temperature.csv')
ed = pd.read_csv('Eight Day NDVI.csv')
pq = pd.read_csv('Production Quantity.csv')
pp = pd.read_csv('predicted_production_qty.csv')

# Missing values

In [39]:
dp['precip'].isnull().values.any()

False

In [40]:
dt['temp'].isnull().values.any()

False

In [41]:
ds['smos'].isnull().sum()
ds = ds.dropna()
ds['smos'].isnull().sum()

0

In [42]:
ed['ndvi'].isnull().values.any()

False

In [43]:
pq['prod'].isnull().values.any()

False

# Exploritory Data Analysis

In [44]:
dp.describe()

             precip     region_id
count  29940.000000  29940.000000
mean       7.275856     99.000000
std        9.468009      4.098849
min        0.000000     93.000000
25%        1.112265     95.000000
50%        4.340616     98.500000
75%       10.086396    103.000000
max      151.307444    105.000000

In [45]:
ds.describe()

               smos     region_id
count  29603.000000  29603.000000
mean       0.266492     98.982772
std        0.092495      4.091924
min        0.004318     93.000000
25%        0.203135     95.000000
50%        0.260049     98.000000
75%        0.321686    103.000000
max        0.814535    105.000000

In [46]:
dt.describe()

               temp     region_id
count  12930.000000  12930.000000
mean      26.542191     99.167131
std        2.494511      4.011680
min       17.031505     93.000000
25%       24.843353     95.000000
50%       26.591613     99.000000
75%       28.185999    103.000000
max       37.295265    105.000000

In [47]:
ed.describe()

              ndvi    region_id
count  3338.000000  3338.000000
mean      0.798429    98.993110
std       0.033146     4.048361
min       0.573141    93.000000
25%       0.784141    95.000000
50%       0.805861    99.000000
75%       0.821163   103.000000
max       0.862471   105.000000

In [48]:
pq.describe()

                prod  region_id
count     720.000000  720.00000
mean   159014.201389   99.00000
std    142882.722751    4.10163
min     10215.000000   93.00000
25%     35445.500000   95.00000
50%     91945.500000   98.50000
75%    269946.000000  103.00000
max    593579.000000  105.00000

# Time Feature engineering

In [49]:
dp

,start_date,end_date,precip,region_id
0,2014-01-01T00:00:00.000Z,2014-01-01T00:00:00.000Z,1.392393,93
1,2014-01-02T00:00:00.000Z,2014-01-02T00:00:00.000Z,0.315380,93
2,2014-01-03T00:00:00.000Z,2014-01-03T00:00:00.000Z,2.347846,93
3,2014-01-04T00:00:00.000Z,2014-01-04T00:00:00.000Z,21.466357,93
4,2014-01-05T00:00:00.000Z,2014-01-05T00:00:00.000Z,32.823651,93
...,...,...,...,...
29935,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,0.041747,105
29936,2022-03-10T00:00:00.000Z,2022-03-10T00:00:00.000Z,0.090011,105
29937,2022-03-11T00:00:00.000Z,2022-03-11T00:00:00.000Z,0.021150,105
29938,2022-03-12T00:00:00.000Z,2022-03-12T00:00:00.000Z,0.092205,105
29939,2022-03-13T00:00:00.000Z,2022-03-13T00:00:00.000Z,2.719724,105

In [63]:
#converting to datetime
dp['start_date'] = pd.to_datetime(dp['start_date'])
dp['end_date'] = pd.to_datetime(dp['end_date'])
dt['start_date'] = pd.to_datetime(dt['start_date'])
dt['end_date'] = pd.to_datetime(dt['end_date'])
ds['start_date'] = pd.to_datetime(ds['start_date'])
ds['end_date'] = pd.to_datetime(ds['end_date'])
ed['start_date'] = pd.to_datetime(ed['start_date'])
ed['end_date'] = pd.to_datetime(ed['end_date'])
pq['start_date'] = pd.to_datetime(pq['start_date'])
pq['end_date'] = pd.to_datetime(pq['end_date'])
pp['start_date'] = pd.to_datetime(pp['start_date'])
pp['end_date'] = pd.to_datetime(pp['end_date'])

In [70]:
#adding year and month columns
dp['year'] = pd.DatetimeIndex(dp['start_date']).year
ds['year'] = pd.DatetimeIndex(ds['start_date']).year
dt['year'] = pd.DatetimeIndex(dt['start_date']).year
ed['year'] = pd.DatetimeIndex(ed['start_date']).year
pq['year'] = pd.DatetimeIndex(pq['start_date']).year
dp['month'] = pd.DatetimeIndex(dp['start_date']).month
ds['month'] = pd.DatetimeIndex(ds['start_date']).month
dt['month'] = pd.DatetimeIndex(dt['start_date']).month
ed['month'] = pd.DatetimeIndex(ed['start_date']).month
pq['month'] = pd.DatetimeIndex(pq['start_date']).month
dp['day'] = pd.DatetimeIndex(dp['start_date']).day
ds['day'] = pd.DatetimeIndex(ds['start_date']).day
dt['day'] = pd.DatetimeIndex(dt['start_date']).day
ed['day'] = pd.DatetimeIndex(ed['start_date']).day
pq['day'] = pd.DatetimeIndex(pq['start_date']).day

KeyError: ignored

In [73]:
#dp = dp.drop(columns=['start_date', 'end_date'])
ds = ds.drop(columns=['start_date', 'end_date'])
dt = dt.drop(columns=['start_date', 'end_date'])
pq = pq.drop(columns=['start_date', 'end_date'])
ed = ed.drop(columns=['start_date', 'end_date'])
ed

          ndvi  region_id  year  month  day
0     0.679106         93  2013     12   27
1     0.701431         93  2014      1    1
2     0.745149         93  2014      1    9
3     0.747391         93  2014      1   17
4     0.768325         93  2014      1   25
...        ...        ...   ...    ...  ...
3333  0.798257        105  2022      1    9
3334  0.793242        105  2022      1   17
3335  0.804884        105  2022      1   25
3336  0.776287        105  2022      2   18
3337  0.795875        105  2022      3    6

[3338 rows x 5 columns]

#  Relationship Analysis

In [74]:
pq.apply(lambda s: ed.corrwith(s))

               prod  region_id      year     month  day
ndvi      -0.154764  -0.165702 -0.047868 -0.002279  NaN
region_id  0.170121   0.868667  0.105788  0.010212  NaN
year      -0.164985   0.238865 -0.011723  0.011681  NaN
month      0.024724  -0.001892 -0.018159  0.009693  NaN
day        0.019235   0.024026 -0.010692  0.059586  NaN

In [75]:
pq.apply(lambda s: ds.corrwith(s))

               prod  region_id      year     month  day
smos      -0.089478   0.124998 -0.026972 -0.008684  NaN
region_id       NaN        NaN       NaN       NaN  NaN
year       0.282936   0.878341  0.012199  0.010863  NaN
month     -0.299271   0.446436  0.178416  0.014085  NaN
day        0.007841   0.028922 -0.022657  0.001220  NaN

In [77]:
pq.apply(lambda s: dt.corrwith(s))

               prod  region_id      year     month  day
temp      -0.002334   0.309658  0.151968  0.026823  NaN
region_id       NaN        NaN       NaN       NaN  NaN
year       0.046547   0.964401  0.068578  0.017523  NaN
month      0.036282  -0.010420  0.138661 -0.017150  NaN
day       -0.034017  -0.060098  0.052146  0.056719  NaN

In [78]:
pq.apply(lambda s: dp.corrwith(s))

               prod  region_id      year     month  day
precip    -0.050647   0.094018 -0.048732 -0.044530  NaN
region_id       NaN        NaN       NaN       NaN  NaN
year       0.282198   0.878395  0.020333  0.014083  NaN
month     -0.303868   0.434497  0.164777  0.006607  NaN
day        0.018969   0.020739 -0.034498  0.022350  NaN